.logo-image {
    max-width: 80%;
}
.cu-tittle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #326bb9;
}

.checkbox label::after {
    transform: none;
    margin-left: -11px;
}

select.ui.dropdown {
    height: auto;
}
